# NOTE - This is just a dummy file with no real values , these are only provided to aid anyone who wants to run this project locally without setting up anything except docker compose .

SECRET_KEY = "<Your_Key>"
ALGORITHM = "<Your_Algorithm>"
DATABASE_URL = "<Your_Database_URL>"
ACS_CONNECTION_STRING = "<Your_Azure_Mail_Connection_String>"
SENDER_EMAIL = "<Your_Azure_Sender_Mail>"
ALLOWED_ORIGINS= "*"
